PROD_MONGO_URI="<INSERT PRODUCTION DATABASE CONNECTION STRING>"
TEST_MONGO_URI="<INSERT TESTING DATABASE CONNECTION STRING>"
JWT_SECRET="<INSERT JWT SECRET>"
NODE_ENV=""
PROD_PORT=<INSERT PRODUCTION PORT>
TEST_PORT=<INSERT TESTING PORT>